@define-color text-default rgb(205, 214, 244);
@define-color lavender rgb(180, 190, 254);
@define-color mauve rgb(198, 160, 246);

@define-color background-base rgb(30, 30, 46);
@define-color background-mantle rgb(24, 24, 37);
@define-color background-crust rgb(17, 17, 27);

@define-color surface-zero rgb(49, 50, 68);
@define-color surface-one rgb(69, 71, 90);

* {
    border-radius: 0;
    border: none;
    font-family: Overpass, serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @background-base;
    color: @text-default;
}

tooltip {
    background: @background-base;
    border: 1px solid rgba(100, 114, 125, 0.5);
    color: @text-default;
}

#workspaces button {
    background: transparent;
    color: @text-default;
    border-top: 1px solid transparent;
    padding: 0px 8px;
}

#workspaces button:hover {
    border-top: 1px solid @lavender;
}

#workspaces button.focused {
    border-top: 1px solid @mauve;
}

#clock, #tray {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: @surface-zero;
}

#tray {
    padding-left: 16px;
}

#clock {
    /* TODO: need to use a monospaced digits font here. */
    padding-right: 16px;
    padding-left: 12px;
}
