auto-save-list/
elpa/
ido.last
projectile.cache
projectile-bookmarks.eld
srecode-map.el
custom.el
games
url
history
network-security.data
session.*

eshell/
transient/
.lsp-session-v1
.dap-breakpoints

!straight/versions/
straight/build-*
straight/repos/
straight/links/
straight/modified/
straight/build-cache.el
eln-cache/
projects
tree-sitter/
